@use './_partial/variables' as *;
@use './_partial/mixin' as *;
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// -------
// Common
body{
    background-color: $primary-color;
    color: white;
}
ul{
    list-style: none;
}